/**
 * Layout Clients
 *
 */

.clients {
    // padding: 5px;
    // border: 1px solid $cx-border-color;
 //    @extend %slight-rounded;
	// @extend %overflow-hidden;

	.item-brand {
		text-align: center;
	}

	img {
	    display: inline-block;
	    width: auto;
		@extend %cx-transition;

		&:hover {
			transform: scale(1.1);
		}
	}
}