/**
 * Layout Fluid Layout
 *
 */

.fluid-layout {
	.container {
		max-width: 100%;
		width: auto;

		@include media-only(wide, min) {
			padding: 0 50px;
		}

		@include media-only(wide, max) {
			padding: 0 30px;
		}

		@include media-only(small-mobile, max) {
			padding: 0 20px;
		}
	}

	.row:not(.product-row) {
		margin-left: -10px;
		margin-right: -10px;
	}

	div[class*='col-'] {
		padding-left: 10px;
		padding-right: 10px;
	}

	header {
		&.sticky {
			.header-area {
				padding: 6px 0;

				@include media-only(wide, max) {
					padding: 0;
				}
			}
		}
	}

	.header-area {
		padding: 25px 0;

		@include media-only(notebook, max) {
			padding: 20px 0;
		}
	}

	.logo {
		text-align: left;
	}

	.header-actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.header-search-area {
		margin-right: 30px;
	}

	.top-promo-banners,
	#primary_slider {
		margin-bottom: 20px;
	}

	@include respond-to(mobile) {
		.top-promo-banners {
			margin-bottom: 0;
		}

		.slider-with-banner {
			.promo-banner:not(.last) {
				margin-bottom: 20px;
			}
		}
	}

	.product-row {
		margin-left: -40px;
	    margin-right: -40px;
	    @include media-only(wide, min) {
			.swiper-arrow {
				&.next {
					right: -25px;
				}

				&.prev {
					left: -25px;
				}
			}
		}
	}

	.modal {
		.row {
			margin-left: -15px;
			margin-right: -15px;
		}
		
		div[class*='col-'] {
			padding-left: 15px;
			padding-right: 15px;
		}

		.no-gutters {
			&.row {
				margin-left: 0;
				margin-right: 0;
			}

			div[class*='col-'] {
				padding-left: 0;
				padding-right: 0;
			}			
		}
	}
}