/**
 * Layout Newsletter
 *
 */

.footer-newsletter-section {
	background: #085293;
	padding: 35px 0;
	border-bottom: 1px solid rgba(255,255,255,0.1);

	.newsletter-title {
	    padding-left: 80px;
	    margin: 10px 0;
	    display: inline-block;
	    vertical-align: top;
	    @extend .pos-r;

		&::before {
			content: "\f33e";
		    font-size: 72px;
		    font-family: "Ionicons";
		    left: 0;
		    top: 50%;
		    transform: translateY(-50%);
		    @extend %color-white;
		    @extend .pos-a;
		}

		h3 {
		    font-weight: 500;
		    font-size: 24px;
		    margin: 0;
		    text-transform: inherit;
		    line-height: 1;
		    margin-bottom: 10px;
		    // flex: 0 0 30%;
		    // max-width: 30%;
		    @extend %color-white;
		}

		h6 {
		    font-size: 13px;
		    text-transform: inherit;
		    font-weight: 400;
		    // flex: 0 0 60%;
		    // max-width: 60%;
		    @extend %mb0;
		    @extend %color-white;
		}
	}

	.newsletter-form-wrapper {
		form {
		    display: block;
		    width: 100%;
		    @extend .pos-r;
		}
		input {
			&[type="email"] {
			    border: 1px solid #f0f0f0;
			    font-size: 14px;
			    color: #999999;
			    display: block;
			    padding: 0 170px 0 30px;
			    height: 56px;
			    line-height: 56px;
			    width: 100%;
			    @extend %slight-rounded;
			    @extend %bgc-white;
			    @extend %cx-transition;

			    &:active,
			    &:focus {
			    	@extend %border-primary;
			    }

			    @include media-only(small-mobile, max) {
		    	    padding-right: 30px;
			    }
			}

			&[type="submit"] {
			    padding: 0 20px;
			    height: 56px;
			    line-height: 56px;
			    right: 0;
			    top: 0;
			    font-size: 12px;
			    text-transform: uppercase;
			    font-weight: 500;
			    border-top-left-radius: 0;
			    border-bottom-left-radius: 0;
			    @extend .pos-a;
			    @extend %bgc-primary;
			    @extend %color-white;

			    &:hover {
			    	@extend %bgc-dark;
			    }

			    @include media-only(small-mobile, max) {
				    position: static;
				    margin-top: 15px;
				    width: 100%;
			    }
			}
		}

		::-webkit-input-placeholder{
		  color: #333;
		}
		::-moz-placeholder{
		  color: #333;
		}
		:-ms-input-placeholder{
		  color: #333;
		}
		:-moz-placeholder {
		  color: #333;
		}
	}

	@include media-only(notebook, max) {
		text-align: center;
		
		.newsletter-title {
			h6,
			h3 {
				flex-basis: 100%;
				max-width: 100%;
			}

			h3 {
				margin-top: 20px;
				margin-left: 0;
			}
		}

		.newsletter-form-wrapper {
			margin-top: 20px;
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.color-scheme-two & {
		input {
			&[type="submit"] {
				@extend %color-dark;
				&:hover {
					@extend %color-white;
				}
			}
		}
	}
}