/**
 * Components Info Box
 *
 */

.info-box {
    border: 1px solid $cx-border-color;
    padding: 40px 40px 37px;
    text-align: center;
    @extend %overflow-hidden;
    @extend %bgc-white;
    @extend %mb-half;
    @extend %cx-transition;

    .info-icon {
    	margin-bottom: 20px;

    	i {
		    border: 2px solid;
		    display: inline-block;
		    font-size: 30px;
		    height: 60px;
		    line-height: 58px;
		    width: 60px;
		    @extend %color-primary;
		    @extend %cx-transition;
		    @extend .circle;

		    #whole & {
		    	@extend %border-primary;
		    }
    	}
    }

    .info-content {
		h4 {
		    font-size: 18px;
		    margin-bottom: 10px;
		    text-transform: capitalize;
		}

		p {
		    font-size: 15px;
		    margin-bottom: 3px;
		    letter-spacing: .2px;
		    @extend %color-black;

	    	&:last-of-type {
	    		@extend %mb0;
	    	}
		}

		a {
			@extend %color-black;

			&:hover {
				@extend %color-primary;
			}
		}
    }

    &:hover {

    	.info-icon {
    		i {
	    		@extend %bgc-primary;
	    		@extend %color-white;
	    	}
    	}
    }
}