/**
 * Components Product
 *
 */

.gallery-with-thumbs {

	display: flex;
	flex-wrap: wrap;

	.product-thumb-container {
		order: 1;
		flex: 0 0 100px;
		max-width: 100px;

		@include media-only(notebook, max) {
			order: 2;
			flex-basis: 100%;
			max-width: 100%;
		}
	}

	.product-image-container {
	    max-width: calc(100% - 100px);
		order: 2;

		@include media-only(notebook, max) {
			order: 1;
			max-width: 100%;
			margin-bottom: 15px;
		}
	}

	.swiper-arrow {
		left: 43%;
		transform: translateX(-50%);
		height: 30px;
		line-height: 0;
		margin: 0;

		@include media-only(notebook, max) {
		    margin-top: -15px;
		    transform: rotate(-90deg);
		}

		&.next {
			top: auto;
			bottom: 30px;

			@include media-only(wide, max) {
				bottom: -5px;
			}

			@include media-only(notebook, max) {
				right: -5px;
				bottom: auto;
				top: 50%;
				left: auto;
			}
		}

		&.prev {
			top: 30px;

			@include media-only(wide, max) {
				top: -5px;
			}

			@include media-only(notebook, max) {
				left: -5px;
				top: 50%;
				right: auto;
			}
		}

		i {
		    font-size: 30px;
		}
	}

	.main-slider {
		@extend %overflow-hidden;
		.swiper-slide {
			@extend %mb0;
			> a {
				display: block;
				@extend .pos-r;

				&:hover {
					.image-overlay {
						opacity: 1;
					}
				}
			}

			.image-overlay {
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				background: rgba(#000, 0.45);
				@extend %cx-transition;
				@extend .pos-a;

				i {
					z-index: 1;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 30px;
					@extend %color-white;
					@extend .pos-a;
				}
			}
		}
	}

	.nav-slider {
		padding-right: 15px;
		@extend %overflow-hidden;

		@include media-only(notebook, max) {
			padding-right: 0;
		}

		.swiper-slide {
			@extend %cx-transition;

			&:hover {
				@extend %border-primary;
			}

			img {
				width: auto;
				height: 100%;
				opacity: 0.3;
				@extend %cx-transition;

				@include media-only(notebook, max) {
					width: 100%;
					height: auto;
				}
			}

			&:hover,
			&.swiper-slide-active {
				img {
					opacity: 1;
				}
			}
		}

		&:hover {
			.swiper-arrow {
				opacity: 1;

				&.next {
					bottom: -5px;
					@include media-only(notebook, max) {
						bottom: auto;
					}
				}

				&.prev {
					top: -5px;
					@include media-only(notebook, max) {
						top: 50%;
					}
				}
			}
		}
	}
}


.product-details {
	.product-name {
	    font-size: 24px;
	    text-transform: capitalize;
	    line-height: 1;
	    font-weight: 400;
	    @extend %color-dark;
	}

	.product-description {
	    font-size: 14px;
	    border-top: 1px solid $cx-border-color;
	    padding: 25px 0;
	    margin-top: 25px;
	    border-bottom: 1px solid $cx-border-color;
	    @extend %color-black;

	    p {
	    	&:last-of-type {
	    		@extend %mb0;
	    	}
	    }
	}

	.product-price {
		margin-top: 10px;

		.price-old {
			padding-right: 0;
		}
	}

	.product-actions {
		margin: 25px 0 0;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		h3 {
			font-size: 18px;
		    text-transform: capitalize;
		    font-weight: 400;
	        margin-bottom: 20px;
		}

		> div {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}

		.product-size {
			margin-right: 25px;
			select {
			    border: 1px solid $cx-border-color;
			    width: 70px;
			    @extend %bgc-white;
			}
		}

		label {
		    display: block;
		    margin-bottom: 10px;
		    text-transform: capitalize;
		    font-size: 16px;
		}

		.nice-select {
			padding-right: 40px;
			width: 75px;

			.current {
			    display: block;
			    width: 100%;
			    @extend %overflow-hidden;
			}

			&:hover {
				border-color: #dbdbdb;
			}
		}

		.color-list {
			padding-top: 8px;

			li {
			    display: inline-block;
			    margin-right: 7px;
			    padding-left: 1px;
				a {
				    border: 1px solid rgba(0, 0, 0, 0.05);
			        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
				    display: block;
				    height: 22px;
				    width: 22px;
				    @extend %cx-transition;

					&.active,
					&:focus,
				    &:hover {
				    	border-color: #333;
				    }
				}

				.white {
					@extend %bgc-white;
				}

				.orange {
					background: #f39c11;
				}

				.paste {
					background: #5d9cec;
				}
			}
		}

		.product-stock {
			li {
				&:not(:last-child) {
					margin-right: 25px;
				}

				@include media-only(small-mobile, max) {
					width: 100%;
				}
			}

			.quantity {
				color: #232323;
			    padding: 11px;
			    border: 1px solid $cx-border-color;
			    width: 70px;
			    height: 40px;
			}

			.product-availability {
				p {
				    font-size: 16px;
				    text-transform: capitalize;
				   	font-weight: 500;
				   	@extend %mb0;
				}

				i {
					margin-right: 5px;
					font-size: 18px;
				}
			}

			.default-btn {
				text-transform: initial;
				font-size: 14px;
			}

			@include respond-to(mobile) {
				button {
					padding: 0 20px;
				}
			}

			@include media-only(small-mobile, max) {
				ul {
					> li {
						&:not(:last-child) {
							margin-bottom: 20px;
							margin-right: 8px;
						}
					}
				}
			}
		}
	}

	@include respond-to(mobile) {
		margin-top: $cx-col-spacing;
	}
}

.product-ratings {
    .rating {
	    margin: 0;
	    padding: 0;
	    list-style: none;

	    li {
		    color: #F9BB49;
		    margin-right: 2px;
		    line-height: 1;
		    font-size: 18px;

		    &:last-child {
		    	margin-right: 0;
		    }

		    i.disabled {
		    	color: #dedede;
		    }
	    }
    }
}

.product-layout {
	
	// @extend %cx-transition;

	// &:hover {
	// 	box-shadow: 0 0 20px 0 rgba(41,44,58,.15);
	// }

	// @include respond-to(mobile) {
	// 	&.product-list {
	// 		box-shadow: 0 0 20px 0 rgba(41,44,58,.15);
	// 	}
	// }

	padding: 20px;
	@extend %bgc-white;

	&:hover {
		.hover-image {
			opacity: 1;
			visibility: visible;
		}
	}

	&.list-style {
		.product-inner {
			@extend .oflow-hidden;

			.product-title,
			.product-caption {
			    text-align: left;
			    padding-left: 30px;
			    padding-right: 0;
			    float: right;
			    width: 56%;
			    @extend .oflow-hidden;
			}

			.product-title {
				margin-top: 10px;
			}

			.product-image {
			    float: left;
			    width: 44%;
			    padding: 0;
			}
		}
	}
}

.product-image {
	@extend %overflow-hidden;
	@extend .pos-r;

	img {
		width: 100%;
	}

	.hover-image {
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 1;
	    transition: all 0.5s ease-in-out;
	    @extend .pos-a;
	}

	.quick-links {
	    top: 50%;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    opacity: 0;
	    z-index: 10;
	    // // visibility: hidden;
	    transform: scale(0.6) translateY(-50%);
	    transition-duration: 0.3s;
	    @extend .pos-a;
	    @extend %slight-rounded;

	    // @include respond-to(notebook) {
	    // 	width: 180px;
	    // }

	    a.default-btn {
		    height: 32px;
		    line-height: 32px;
		    text-transform: capitalize;
		    padding: 0 20px;
		    min-width: 110px;
			&:hover {
				@extend %bgc-primary;
			}
	    }

	    .product-layout:hover & {
		    opacity: 1;
		    transform: scale(1) translateY(-50%);
	    }

	    // @include respond-to(mobile) {
	    // 	opacity: 1;
	    // 	transform: translateY(0);
	    // 	visibility: visible;
	    // }
	}

	.label-product {
	    top: 15px;
	    font-size: 12px;
	    height: 23px;
	    width: 50px;
	    line-height: 23px;
	    text-align: center;
	    text-transform: capitalize;
	    font-weight: 400;
	    z-index: 10;

	    @extend .pos-a;
	    @extend %slight-rounded;
	    @extend %color-white;

	    &.label-sale {
	    	left: 0;
	    	background: #f26522;
	    }

	    &.label-new {
	    	right: 0;
	    	@extend %bgc-primary;
	    }
	}
}

.product-price {
	margin-bottom: 15px;

	> p {
		> span {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}

		.price-discount {
		    font-size: 12px;
		    height: 23px;
		    width: 50px;
		    line-height: 23px;
		    text-align: center;
		    text-transform: capitalize;
		    font-weight: 400;
		    @extend %color-white;
		    @extend %bgc-primary;
		    @extend %slight-rounded;
		    @extend .pos-r;
		}
	}

	.price-old {
		font-size: 14px;
	    font-weight: 400;
	    text-decoration: line-through;
	    display: inline-block;
	    @extend %color-dark;
	}

	.price-new {
		font-size: 14px;
	    font-weight: 500;
	    padding: 0 5px;
		@extend %color-primary;
	}
}

.product-title {
	margin-bottom: 20px;
	.product-name {
		font-weight: 400;
	    line-height: 1;
	    margin-top: 0;
	    text-transform: capitalize;
	    @include cx-truncation(2, 1.5, #fff);

	    a {
		    padding: 0;
		    display: block;
		    line-height: 18px;
		    text-transform: capitalize;
		    overflow: hidden;
		    font-size: 14px;
		    font-weight: 500;
		    @extend %color-primary;

		    &:hover {
				text-decoration: underline;
		    }
	    }
	}
}

.product-caption {
	margin-top: 20px;
	.product-meta {
		a {
			font-size: 12px;
			line-height: 1;
		}
	}

	.product-desc {
	    font-size: 13px;
	    margin-bottom: 20px;
	    @include cx-truncation(2, 1.8, #fff);
	    @extend %color-dark;
	}

	.action-links {
		display: flex;
		margin-top: 40px;

		button {
			margin-right: 5px;
			background: #f1f1f1;
		    text-transform: capitalize;
		    font-size: 13px;
		    line-height: 42px;
		    font-weight: 400;
		    height: 42px;
		    @extend %color-dark;
		    @extend %slight-rounded;

		    &.btn-cart {
		    	min-width: 135px;
	    	    padding: 0 30px;
		    }

		    &.btn-wishlist,
		    &.btn-compare {
		    	padding: 0;
			    line-height: 46px;
			    height: 42px;
			    width: 42px;

			    i {
			    	font-size: 18px;
			    }
		    }

		    &:last-child {
		    	margin-right: 0;
		    }
		}
	}

	.product-layout:hover & {
		.action-links {
			button {
				@extend %bgc-tertiary;
				@extend %color-white;

			    &:hover,
			    &:focus {
					@extend %bgc-primary;
			    }
			}
		}
	}
}

.social-sharing {
	span {
	    display: inline-block;
	    margin-right: 20px;
	    font-size: 16px;
	}

	.list-inline {
		@extend %mb0;

		li {
		    display: inline-block;
		    margin-right: 10px;

		    &:last-child {
		    	margin-right: 0;
		    }

		    @include respond-to(mobile) {
		    	margin-right: 5px;
		    }

		    a {
				text-align: center;
				font-size: 13px;
				padding: 7px 15px;
				line-height: 30px;
		    	@extend %color-white;
		    	@extend %slight-rounded;

			    @include respond-to(mobile) {
			    	padding: 7px 10px;
			    }
		    }
		}

		i {
			margin-right: 7px;
		}
	}
}

.social-sharing {
	li.list-inline-item {
		span {
			margin-right: 0;
			font-size: inherit;

			@include respond-to(tablet) {
				display: none;
			}
		}

		i {
			@include respond-to(tablet) {
				margin-right: 0;
			}
		}

		a {
			@include respond-to(tablet) {
				width: 38px;
				height: 38px;
				line-height: 40px;
				padding: 0;
				display: inline-block;
			}
		}
	}
}

@include respond-to(notebook) {
	.social-sharing {
		li.list-inline-item {
			margin-right: 5px;

			a {
				padding: 7px 10px;
			}
		}
	}
}

@include media-only(small-mobile, max) {
	.social-sharing {
		li.list-inline-item {
			span {
				display: none;
			}

			i {
				margin-right: 0;
			}

			a {
				width: 38px;
				height: 38px;
				line-height: 40px;
				padding: 0;
				display: inline-block;
			}
		}
	}
}

.wishlist-compare {
	> button {
	    width: auto;
	    height: auto;
	    border-radius: 0;
	    border: none;
	    padding: 0;
	    background: none;
	    font-size: 14px;
	    box-shadow: none;
	    text-transform: initial;
	    font-weight: normal;
	    cursor: pointer;
	    line-height: 1;
	    @extend %bgc-black;

	    &::before {
			font-family: 'Pe-icon-7-stroke';
		    display: inline-block;
		    font-size: 18px;
		    margin-right: 8px;
		    bottom: -3px;
	        font-weight: bold;
		    @extend %cx-transition;
		    @extend .pos-r;
		    @extend %color-black;
	    }

	    &:hover {
	    	background: none;
	    	@extend %color-primary;

	    	&::before {
	    		@extend %color-primary;
	    	}
	    }
	}
	.btn-wishlist {
	    margin-right: 25px;
	    &::before {
    	    content: "\e642";
	    }

	    @include media-only(small-mobile, max) {
	    	margin-right: 0;
	    	margin-bottom: 10px;
	    }
	}

	.btn-compare {
	    &::before {
    	    content: "\e6c2";
	    }
	}
}

.countdown-wrapper {
	.countdown-timer {
		display: flex;
		text-align: center;
	    width: 100%;
	    overflow: hidden;
	    background: #f1f1f1;
	    border: 1px solid #e1e1e1;
	}

    span {
    	display: block;
    }

    .countdown-section {
    	flex: 0 0 25%;
    	max-width: 25%;
		border-right: 1px solid #e1e1e1;
		padding: 10px 0;

		&:last-child {
			border-right: 0;
		}

		> div {
			> span {
				&:first-child {
					font-size: 14px;
					font-weight: 500;
				}

				&:last-child {
					text-transform: capitalize;
					@extend %color-primary;
				}
			}
		}
    }
}