/**
 * Components To Top
 *
 */

#to_top {
	display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    transform: rotate(-90deg);
    font-weight: 700;
    text-transform: uppercase;
    z-index: 999;
    background: rgba(35, 47, 62, 0.7);
    box-shadow: 0px 0px 1px 1px rgba(255,255,255,.1);
    @extend %slight-rounded;
	@extend %cx-transition;
    @extend %color-white;
    @extend %overflow-hidden;

    i {
    	font-size: 16px;
        top: 2px;
        @extend .pos-r;

    	&:first-child {
    		right: -1.5px;
    	}

    	&:last-child {
    		left: -1.5px;
    	}
    }

    &:hover {
        @extend %bgc-primary;
    }

    @include media-only(notebook, max) {
        bottom: 30px;
        right: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}