/**
 * Layout Footer
 *
 */

#colophon {
	background: #085293;

	&.dark-footer {
		h1, h2, h3, h4, h5, h6, p, span, li, a {
			@extend %color-white;
		}

		a:hover,
		a:focus {
			color: #699ecd;
		}
	}
}

.footer-widgets-area {
	.footer-inner {
		// border-bottom: 1px solid #303030;
		@extend %pb-full;
		@extend %pt-full;

		@include media-only(notebook, max) {
			padding-bottom: 20px;
		}
	}

	@include media-only(notebook, max) {
		.widget-content {
		    margin-bottom: 40px;
		}
		
		.footer-inner {
			.row {
				> div[class*='col-'] {
					&:last-child {
						.widget-content {
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
}

.footer-type-2 {
	.footer-inner {
		border-bottom: 0;
	    padding: 50px 0;
	    border-top: 1px solid $cx-border-color;
	}

	.footer-logo {
		margin-bottom: 10px;
	}

	.copyright-text {
		font-size: 12px;
		font-style: normal;
		@extend %color-black;

		a {
			@extend %color-primary;

			&:hover {
				@extend %color-black;
			}
		}
	}

	.widgettitle {
		font-size: 16px;
		margin-bottom: 5px;
		@extend %color-secondary;
	}

	.newsletter-widget {
		p {
			@extend %color-black;
			@extend %mb0;
		}
	}

	.list-inline {
		@extend %mb0;
	}

	@include media-only(notebook, max) {
		.footer-inner {
			.row {
				> div[class*='col-'] {
					&:last-child {
						.widget-content {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

.footer-copyright {
	border-top: 1px solid rgba(255,255,255,0.1);
	color: #808080;
	@extend %pt-half;
	@extend %pb-half;

	p {
		font-size: 14px;
		@extend %mb0;
	}

	a {
		@extend %color-primary;

		&:hover {
			text-decoration: underline;
			@extend %color-white;
		}
	}

	@include media-only(notebook, max) {
		text-align: center;
	}
}

#colophon .social-widget {
	display: flex;
	justify-content: flex-end;

	.list-inline {
		li.list-inline-item {
			@extend %mb0;
		}

		a {
		    color: #2f81c9;
		    background: #105fa5;
		    @extend %slight-rounded;

		    &:hover {
		    	@extend %color-white;

		    	&.bg-facebook {
		    		background: $facebook-color;
		    	}

		    	&.bg-twitter {
					background: $twitter-color;
				}

				&.bg-gplus {
					background: $gplus-color;
				}

				&.bg-pinterest {
					background: $pinterest-color;
				}

				&.bg-instagram {
					background: $instagram-color;
				}

				&.bg-linkedin {
					background: $linkedin-color;
				}
		    }
		}
	}

	@include media-only(notebook, max) {
		margin-top: 20px;
		justify-content: center;
	}
}